﻿<%@ Page Title="Home Page" Language="vb" MasterPageFile="~/Site.Master" AutoEventWireup="false"
    CodeBehind="Default.aspx.vb" Inherits="InezOrder._Default" %>

<%@ Import Namespace="System.Data" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">

</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    
     <asp:SqlDataSource ID="SqlDataSource1" runat="server" 
    ConnectionString="<%$ ConnectionStrings:db_inezConnectionString %>" 
    SelectCommand="SELECT distinct status,CONVERT(VARCHAR(15),tanggal,110) as tanggal, nip_pemesan,nama_pemesan,no_order,kode_toko,nama_toko,no_nota FROM [main_android_orderPTK] order by no_order desc">
    </asp:SqlDataSource>

    <!--SelectCommand="SELECT no,status,CONVERT(VARCHAR(15),tanggal,110) as tanggal, nip_pemesan,nama_pemesan,no_order,kode_toko,nama_toko,kode_barang,nama_barang,qty FROM [main_android_order] order by no desc"-->
    

    
    <div class="WordWrap">
</div>

     
    <asp:DropDownList ID="DropDownList1" runat="server">
 <asp:ListItem Text="-PILIH FILTER-" Value="-PILIH FILTER-"></asp:ListItem>
 <asp:ListItem Text="NIP PEMESAN" Value="[NIP PEMESAN]"></asp:ListItem>
 <asp:ListItem Text="NAMA PEMESAN" Value="[NAMA PEMESAN]"></asp:ListItem>
 <asp:ListItem Text="KODE TOKO" Value="[KODE TOKO]"></asp:ListItem>
 <asp:ListItem Text="NAMA TOKO" Value="[NAMA TOKO]"></asp:ListItem>
 <asp:ListItem Text="NO ORDER" Value="[NO ORDER]"></asp:ListItem>
 <asp:ListItem Text="NO NOTA" Value="[NO NOTA]"></asp:ListItem>
</asp:DropDownList>
<asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>

 <asp:Button ID="btn_cari" runat="server"  Text="Cari"
        />

<asp:Button ID="btn_reset" runat="server" Text="Reset" />

&nbsp;
<span style="float:right;">
<asp:Button ID="rb_dilayani" Text="Telah dilayani" runat="server" />
<asp:Button ID="rb_belum_dilayani" Text="Belum dilayani" runat="server" />
</span>
<%--<asp:RadioButtonList ID="rblMeasurementSystem" runat="server" RepeatLayout="Flow" Width="700">
    <asp:ListItem Text="Metric" Value="metric" /><asp:ListItem Text="US" Value="us" />
</asp:RadioButtonList>
--%>
<span style="display:none;">
&nbsp;&nbsp;Pilih tanggal
       <asp:TextBox ID="txtDate" runat="server"></asp:TextBox>
    <asp:Button ID="btnSubmit" runat="server"  Text="Cari"
        />
<asp:Button ID="btn_reset2" runat="server" Text="Reset" />
   </span> 
    
     <br />
<br />
<!--<div style="overflow-x: scroll;overflow-y: scroll; height:400px;">-->
<asp:DataGrid id="yourGrid" Width="100%" enablepagingandcallback = "false" runat="server" CssClass="zui-table" onpageindexchanging="MainGrid_PageIndexChanged" AllowPaging="false" PageSize=10 PagerStyle-Mode="NumericPages" PagerStyle-ForeColor="#ffffff" PagerStyle-PageButtonCount="15" PagerStyle-BackColor="#4b6c9e" PagerStyle-NextPageText="Selanjutnya >" PagerStyle-PrevPageText="< Sebelumnya" PagerStyle-Font-Size="Medium" HeaderStyle-Wrap="false">
</asp:DataGrid>
<!--</div>-->
     <br />
    
   <script src="http://gridviewscroll.aspcity.idv.tw/Scripts/gridviewScroll.min.js"></script>
   
   <script type="text/javascript">
       $(document).ready(function () {
           gridviewScroll();
       });

       function gridviewScroll() {
           $('#<%=yourGrid.ClientID%>').gridviewScroll({
               width: 1200,
               height: 400
           });
       } 
</script>













 <%  SqlDataSource1.SelectCommand = "select kode_barang,nama_barang,qty FROM [main_android_orderPTK] where no_order = '" + Session("no_order") + "'"
     Dim dview As DataView = CType(SqlDataSource1.Select(DataSourceSelectArguments.Empty), DataView)
                                               %>
      

<div class="modal fade" id="myModal31" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        <!-- Header-->
                                        <div class="modal-header">
	                                        <button type="button" class="close" data-dismiss="modal">
		                                        <span aria-hidden="true">&times;</span>
		                                        <span class="sr-only">Close</span>
	                                        </button>
	                                        <h4 class="modal-title" id="myModalLabel">NO ORDER : <%Response.Write(Session("no_order"))%></h4>
                                        </div>
                                               
                                        <!-- Body -->
                                        <div class="modal-body" style="font-size:14px;">
                                              <table border="1" cellspacing="0" cellpadding="0" width="100%" class="zoy-table">
                                                <tr style="background-color:#4b6c9e;">
                                                <td style="color:#ffffff"  align="center">KODE BARANG</td>     
                                                <td style="color:#ffffff"  align="center" width="200">NAMA BARANG</td>     
                                                <td style="color:#ffffff" width="125" align="center">QTY</td>     
                                               </tr>  
                                            </table>
                                            <div class="scroll_mini"  id="laporan">
                                             <table border="1" cellspacing="0" cellpadding="0" width="100%" class="zoy-table">  
                                            <!--<tr style="display:none"> </tr>-->
                                            <tr style="display:none"> </tr>
                                                                                                                                         
                                              <%For u As Integer = 0 To dview.Table.Rows.Count - 1 %>
                                        
                                            <tr>
                                                <td align="center"><% Response.Write(Convert.ToString(dview.Table.Rows(u)("kode_barang")))%></td>     
                                                <td align="center" width="200"><% Response.Write(Convert.ToString(dview.Table.Rows(u)("nama_barang")))%></td>     
                                                <td align="center" width="110"><% Response.Write(Convert.ToString(dview.Table.Rows(u)("qty")))%></td>     
                                            </tr>
                                               <%Next%>
                                             
                                            </table>
                                             
                                            </div>
                                        </div>
                                        <!-- Footer -->
                                        <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">TUTUP</button>
	                                        <button style="display:none" type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>




         








     <asp:Label ID="Label1" runat="server" Text=""></asp:Label>




         








    </asp:Content>


