﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="login.aspx.vb" MasterPageFile="~/Site1.Master" Inherits="InezOrder.login1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent2" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent2" runat="server">
    
    <div style="text-align:center;padding:100px" >
        
        <form action="" method="post" >
        <asp:Label ID="Label1" runat="server" Text="Username  "/><asp:TextBox ID="txt_username" runat="server" Width="200px"></asp:TextBox><br /><br />
        <asp:Label ID="Label2" runat="server" Text="Password  "/><asp:TextBox ID="txt_password" TextMode="password" runat="server" Width="200px"></asp:TextBox><br /><br />
        <asp:Button ID="btn_login" runat="server" Text="Login" />
        <br /><br />
        </form>

        <asp:Label ID="lbl_error" runat="server" Text="Username/Password salah!" 
            ForeColor="Red" Visible="False"/>
        <asp:SqlDataSource ID="SqlDataSource1" runat="server" 
            ConnectionString="<%$ ConnectionStrings:db_inezConnectionString %>" 
            SelectCommand="SELECT * FROM [user]"></asp:SqlDataSource>
        
    </div>

    <center> Download versi android di sini :<br/><br/>
    <table>
    <tr>
        <td>SERVER PUBLIK</td><td class="style2">SERVER LOKAL (LEBIH CEPAT!)</td>
    </tr>
    <tr>
        <td><a href="assets/data/inezOrder.apk"> <asp:Image ID="Image3" runat="server" ImageUrl="~/assets/icon/download.png" Width="150px" /></a></td>
        <td class="style2"><a href="http://176.14.0.146:8010/inezorder/assets/data/inezOrder.apk"> <asp:Image ID="Image4" runat="server" ImageUrl="~/assets/icon/download.png" Width="150px" /></a></td>
    </tr>
    </table>
    </center>
    <br />
</asp:Content>
