﻿/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

/*h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}*/

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 97%;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}





/*Style Table*/
.zui-table {
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
    border: none;
}




/*table.zui-table {width:700px;border:1px #a9c6c9 solid;font:12px verdana,arial,sans-serif;color:#333333;}
table.zui-table tr:first-child td {display:table;width:100%;}
table.zui-table tbody td {display:block;height:300px;overflow:auto;float:left;width:100%;}
table.zui-table tbody tr {display:table;width:100%;}
table.zui-table th, td {width:33%;padding:8px;}
table.zui-table th {background-color:#000099;color:#ffffff;}
table.zui-table tr:hover td {background:#a0a0a0;color:#ffffff;}
table.zui-table tr:nth-child(odd) {background-color:#c0c0c0;}
table.zui-table tr:nth-child(even) {background-color:#f0f0f0;}*/





.zui-table tbody td {
    color: #333;
    padding: 10px;
    border: none;
    border-top: solid 1px #3a4f63;
    background-color: #00EED592;
}


.zui-table tr:first-child td {  /* tr:first-child td --> Mengacu ke row/child pertama*/
    color: #fff;
    padding: 10px;
    border: none;
    border-top: solid 1px #3a4f63;
    background-color: #4b6c9e;
}



.zoy-table tbody td {
    color: #333;
    padding-bottom:5px;
    border:none;
    padding-top:5px;
    padding-left:1px;
    padding-right:1px;
    //border: none;        
    border-top: solid 1px #3a4f63;
    background-color: #00EED592;
}


.zoy-table tr:first-child td {  /* tr:first-child td --> Mengacu ke row/child pertama*/
    color: #fff;
    padding-bottom:5px;
    padding-top:5px;
    padding-left:1px;
    padding-right:1px;
    
    border: none;
    border-top: solid 1px #3a4f63;
}



        
        .scroll {
            width: auto;
            overflow-y: scroll;     
            height: 400px;
                    }
       
       
       .scroll_mini {
            width: auto;
            overflow-y: scroll;     
            height: 300px;
                    }


#laporan a:link {
    color: White;
}

/* visited link */
#laporan a:visited {
    color: White;
}

/* mouse over link */
#laporan a:hover {
    color: White;
}

/* selected link */
#laporan a:active {
    color: White;
}